.DS_Store
.idea/
node_modules/

assets/*
!assets/bg-shadow-main.jpg
!assets/footer-bg-new-DjqKYUJv.png
!assets/monogram-ms.svg
!assets/rings-illustration-tO3OeALU.png
!assets/weddingg-templates/

assets/weddingg-templates/*
!assets/weddingg-templates/mohamed-laila-template/
!assets/weddingg-templates/omar-salma-templateee/

assets/weddingg-templates/mohamed-laila-template/*
!assets/weddingg-templates/mohamed-laila-template/heroPosterUrl.jpg
!assets/weddingg-templates/mohamed-laila-template/heroVideoUrl.mp4

assets/weddingg-templates/omar-salma-templateee/*
!assets/weddingg-templates/omar-salma-templateee/introPosterUrl.jpg
!assets/weddingg-templates/omar-salma-templateee/introVideoUrl.mp4

scripts/*
!scripts/index-B8zKg5iA.js
!scripts/template-catalog.js
!scripts/weddingg-templates.js
